# Compiled class file
*.class
.settings/
/target/
.idea/
*.iml
*.classpath
*.project

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/
moke.iml
/target/
*.err
.settings
.classpath
.project
/.idea/
*.iml


