# Compiled class file
*.class
.settings/
/target/
.idea/
*.iml
*.classpath
*.project

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)


#/target/
#*.err
#.settings
#.classpath
#.project
#*.iml


